<%- include("header"); -%>
  <div class="box" id="heading">
    <h1><%= title %></h1>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum sed arcu non odio euismod lacinia at. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Urna nunc id cursus metus aliquam eleifend mi in nulla. Porttitor lacus luctus accumsan tortor posuere ac. Eu mi bibendum neque egestas congue quisque. Vitae justo eget magna fermentum iaculis eu. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Vulputate odio ut enim blandit volutpat maecenas. Accumsan lacus vel facilisis volutpat est. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget.
    <br> <br>
    Nunc sed augue lacus viverra. Sit amet dictum sit amet justo donec enim. Aliquet porttitor lacus luctus accumsan tortor posuere. Sit amet nulla facilisi morbi tempus iaculis urna. Integer enim neque volutpat ac tincidunt vitae semper quis lectus. Tristique senectus et netus et malesuada fames ac turpis egestas. Tincidunt dui ut ornare lectus sit amet est. Faucibus interdum posuere lorem ipsum dolor. Euismod nisi porta lorem mollis aliquam ut. Facilisis mauris sit amet massa vitae. Quis risus sed vulputate odio ut enim blandit.
    <br>
  </p>

<%- include("footer"); -%>
