<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

    <% if (day === "Saturday" || day === "Sunday") { %>
      <h1 style="color:purple"><%= day %> ToDo List</h1>
    <% } else { %>
      <h1 style="color:green"><%= day %> ToDo List</h1>
    <% } %>

  </body>
</html>
